@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
body {
  font-family: 'DM Sans', sans-serif;
}

option {
  color: black;
}

.apexcharts-toolbar {
  z-index: 0 !important;
}

.apexcharts-zoom-icon.apexcharts-selected svg {
  fill: #728fea !important;
}

.apexcharts-pan-icon.apexcharts-selected svg {
  stroke: #728fea !important;
}

.apexcharts-pan-icon > svg {
  stroke: #a0aec0 !important;
}

.apexcharts-menu-icon,
.apexcharts-reset-icon,
.apexcharts-selection-icon,
.apexcharts-toolbar-custom-icon,
.apexcharts-zoom-icon,
.apexcharts-zoomin-icon,
.apexcharts-zoomout-icon {
  svg {
    fill: #a0aec0 !important;
  }
}

.line-chart-tooltip {
  display: none !important;
}

.chakra-accordion.accordion-sidebar {
  .chakra-accordion__item {
    border: none;
  }

  .chakra-accordion__button {
    display: flex;
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    align-items: center;

    ::before {
      height: 36px;
      width: 4px;
      border-radius: 5px;
      background: #7551FF;
    }
  }
}
